{% extends "app/layout.html" %}

{% block content %}

    <h2>{{ title }}</h2>
    <h3>{{ message }}</h3>

    <div class="row">
        <div class="col-md-8">
            <h2>管理控制台</h2>
            <p>
                使用管理账号登录。添加删除用户,管理项目号、部门号、项目组、假日等。
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>导出数据EXCEL打开</h2>
            <p>
                直接用 Excel 打开 UTF-8 编码的 CSV 文件会导致汉字部分出现乱码。
            </p>
            <p>打开 UTF-8 编码的 CSV 文件的方法：</p>

                <p>1) 打开 Excel</p>

                <p>2) 执行“数据”->“自文本”</p>

                <p>3) 选择 CSV 文件，出现文本导入向导</p>

                <p>4) 选择“分隔符号”，下一步</p>

                <p>5) 勾选“逗号”，去掉“ Tab 键”。勾选格式" 文本 ",去掉格式" 一般 "。下一步，完成</p>

                <p>6）在“导入数据”对话框里，直接点确定</p>
        </div>
    </div>

    <p><a href="mailto:{{ mail }}">错误报告</a></p>

{% endblock %}
