{% extends "app/layout.html" %}

{% block content %}

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <h1>Time</h1>
                <p class="lead">工时表</p>
                <p><a href="http://www.yashentech.com/" class="btn btn-primary btn-large">亚申科技 &raquo;</a></p>
            </div>
            <div class="col-md-7 col-md-offset-2">
                <section id="loginForm">
                    <form role="form" action="." method="post" class="form-horizontal">
                        {% csrf_token %}
                        <div class="col-md-offset-4 col-md-8">
                            <h4>欢迎</h4>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <label for="id_username" class="col-md-2 col-md-offset-2 control-label"
                                   style="font-size: 16px;padding:0px;">用户名</label>
                            <div class="col-md-8">
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_password" class="col-md-2 col-md-offset-2 control-label"
                                   style="font-size: 16px;padding:0px;">密码</label>
                            <div class="col-md-8">
                                {{ form.password }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <input type="hidden" name="next" value="{{ currentweek }}"/>
                                <input type="submit" value="登陆" class="btn btn-default"/>
                            </div>
                        </div>
                        {% if form.errors %}
                            <div class="col-md-8 col-md-offset-4">
                                <p class="validation-summary-errors" style="font-size: 16px;">请输入正确的用户名和密码.</p>
                            </div>
                        {% endif %}
                    </form>
                </section>
            </div>
        </div>
    </div>

{% endblock %}
