{% extends "app/layout.html" %}

{% block content %}

    <h2>{{ title }}</h2>
    <h3 id="project_id_title">{{ message }}</h3>

    <div class="row">
        <div class="col-sm-9">
            <table class="table table-striped" id="result_list">
                <thead>
                <tr>
                    <th scope="col" class="sortable column-project_id">
                        <div class="text">用户</div>
                    </th>

                    <th scope="col" class="sortable column-summary">
                        <div class="text">日期</div>
                    </th>

                    <th scope="col" class="sortable column-doclink">
                        <div class="text">工时</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.employee.user.username }}</td>
                        <td>{{ task.workday | date:"Y-m-d" }}</td>
                        <td>{{ task.t_hours }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="col-sm-2 col-sm-offset-1" style="padding-top:0px;" id="changelist-filter">
            <button type="button" id="btn_filter" class="btn btn-primary btn-lg">筛选</button>
            <a id="a_project_output" href=".">
                <button type="button" class="btn btn-primary btn-lg" id="btn_project_output">导出&raquo;</button>
            </a>

            <h3> 选项目 id </h3>
            <select class="form-control" id="project_id_sel">
                {% for project in projects %}
                    <option>{{ project.project_id }}</option>
                {% endfor %}
            </select>

            <h3> 按日期 </h3>
            <select class="form-control" id="period_sel">
                <option q="date__gte={{ month_start }}&date__lt={{ next_month_start }}">本月</option>
                <option q="date__gte={{ last_month_start }}&date__lt={{ month_start }}">上月</option>
                <option q="date__gte={{ year_start }}&date__lt={{ next_year_start }}">今年</option>
            </select>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function get_period() {
            var q_sets = $("#period_sel option:selected").attr("q").split("&");
            var params = [];
            for (var key in q_sets) {
                var pair = q_sets[key].split("=");
                params[pair[0]] = pair[1];
            }
            return params
        }

        function set_project_output_params() {
            var period = get_period();
            var project_id = $("#project_id_sel").val();

            var href = "/output/?";
            href += "date__gte=";
            href += period["date__gte"];
            href += "&date__lt=";
            href += period["date__lt"];
            href += "&project_id=";
            href += project_id;
            href += "&output_type=csv&output_category=project";

            $("#a_project_output").attr("href", href);
        }

        $(document).ready(function () {
            // Bind Ajax GET data
            $("#btn_filter").click(function () {
                var period = get_period();
                var project_id = $("#project_id_sel").val();


                $.get("/report/", {
                    'project_id': project_id,
                    'date__gte': period["date__gte"],
                    'date__lt': period["date__lt"],
                }, function (ret) {
                    var data = eval(ret.data)

                    var content = "";
                    for (var key in data) {
                        content += "<tr>";
                        content += "<td>" + data[key][0] + "</td>";
                        content += "<td>" + data[key][1] + "</td>";
                        content += "<td>" + data[key][2] + "</td>";
                        content += "</tr>";
                    }
                    $("#result_list tbody").html(content);
                    $("#project_id_title").text(project_id);
                });
            });

            // Bind the selection change event
            $("#period_sel").change(function () {
                set_project_output_params();
            });

            $("#project_id_sel").change(function () {
                set_project_output_params();
            });

            // Initialize the <a href> value
            set_project_output_params();
        });

    </script>
{% endblock %}