{% extends "app/layout.html" %}

{% block content %}

    <h2>{{ title }}</h2>
    <h3 id="project_id_title">{{ message }}</h3>

    <div class="row">
        <div class="col-sm-9">
            <table class="table table-striped" id="result_list">
                <thead>
                <tr>
                    <th scope="col" class="sortable column-project_id">
                        <div class="text">用户</div>
                    </th>

                    <th scope="col" class="sortable column-summary">
                        <div class="text">日期</div>
                    </th>

                    <th scope="col" class="sortable column-doclink">
                        <div class="text">工时</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.employee.user.username }}</td>
                        <td>{{ task.workday | date:"Y-m-d" }}</td>
                        <td>{{ task.t_hours }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="col-sm-2 col-sm-offset-1" style="padding-top:0px;" id="changelist-filter">
            <button type="button" class="btn btn-primary btn-lg">筛选器&raquo;</button>

            <h3> 选项目 id </h3>
            <select class="form-control" id="project_id_sel">
                {% for project in projects %}
                    <option>{{ project.project_id }}</option>
                {% endfor %}
            </select>

            <h3> 按日期 </h3>
            <ul class="list-group" id="period_list">
                <li>
                    <a q="?">全部时间</a></li>
                <li>
                    <a q="date__gte={{ last_month_start }}&date__lt={{ month_start }}">上月</a></li>
                <li>
                    <a q="date__gte={{ month_start }}&date__lt={{ next_month_start }}">本月</a></li>
                <li>
                    <a q="date__gte={{ year_start }}&date__lt={{ next_year_start }}">今年</a></li>
            </ul>

        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#period_list li").click(function () {
                var q_sets = $(this).find("a").attr("q").split("&");
                var params = [];
                for (var key in q_sets) {
                    var pair = q_sets[key].split("=");
                    params[pair[0]] = pair[1];
                }
                $.get("/report/", {
                    'project_id': $("#project_id_sel").val(),
                    'date__gte': params["date__gte"],
                    'date__lt': params["date__lt"]
                }, function (ret) {
                    var data = eval(ret.data)

                    var content = "";
                    for (var key in data) {
                        content += "<tr>";
                        content += "<td>" + data[key][0] + "</td>";
                        content += "<td>" + data[key][1] + "</td>";
                        content += "<td>" + data[key][2] + "</td>";
                        content += "</tr>";
                    }
                    $("#result_list tbody").html(content);

                })
            });

            $("#project_id_sel").change(function () {
                $("#project_id_title").text($(this).val());
            });

        });

    </script>
{% endblock %}