{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>在本区域填写工时（%计）.</p>

<div class="jumbotron">
 <table class="table table-hover">
   <caption>项目工时</caption>
   <thead>
      <tr>
         <th>日期</th>
         <th>项目号</th>
         <th>时间（%）</th>
          <th>项目类型</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>Tanmay</td>
         <td>Bangalore</td>
         <td>560001</td>
          <td>FA</td>
      </tr>
      <tr>
         <td>Sachin</td>
         <td>Mumbai</td>
         <td>400003</td>
          <td>FA</td>
      </tr>
      <tr>
         <td>Uma</td>
         <td>Pune</td>
         <td>411027</td>
          <td>FA</td>
      </tr>
   </tbody>
</table>
</div>

{% endblock %}