{% extends "app/layout.html" %}
{% load lookup %}
{% load multiply %}
{% load staticfiles %}
{% load l10n %}

{% block content %}

    <h2>{{ queryYear }}年{{ queryMonth }}月 第{{ queryWeek }}周</h2>
    <h3>{{ message }}</h3>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60"
             aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
            <span class="sr-only">40% 完成</span>
        </div>
    </div>

    <div id="build">
        <form role="form" id=target action="." method="post" class="form-horizontal">
            {% csrf_token %}
            <legend class="valtype" data-valtype="text">工时表（%计）</legend>
            <table class="table table-hover">
                <caption>项目工时</caption>
                <thead>
                <tr>
                    <th>日期</th>
                    <th>项目号</th>
                    <th>时间（%）</th>
                    <th>项目类型</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>
                            <select class="form-control" id="{{ dayID | lookup:forloop.counter0 }}"
                                    name={{ dayName | lookup:forloop.counter0 }}>
                                {% for day in weekdays %}
                                    {% if day.date == task.workday %}
                                        <option selected>{{ day | date:"D, M j" | localize}}</option>
                                    {% else %}
                                        <option>{{ day | date:"D, M j" }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="form-control"
                                    id={{ projectID | lookup:forloop.counter0 }} name={{ projectName | lookup:forloop.counter0 }}>
                                {% for project in projects %}
                                    {% if task.project.project_id == project.project_id %}
                                        <option selected>{{ project.project_id }}</option>
                                    {% else %}
                                        <option>{{ project.project_id }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input class="form-control" id={{ timeID | lookup:forloop.counter0 }} type="text"
                                   name={{ timeName | lookup:forloop.counter0 }}
                                           value="{{ task.t_percentage | multiply:100 | floatformat:0 }}"/>
                        </td>
                        <td>
                            <input class="form-control" id="typeBox" type="text" name="typeBox"
                                   value="{{ task.project.projecttype.typename }}" disabled/>
                        </td>
                    </tr>
                {% empty %}
                    <li>你好，请填补工时</li>
                {% endfor %}

                {% comment %}
                 Empty task items here
                {% endcomment %}
                {% for emptytask in emptyTasks %}
                    <tr>
                        <td>
                            <select class="form-control" id="{{ dayID | lookup:forloop.counter0 }}"
                                    name={{ dayName | lookup:forloop.counter0 }}>
                                {% for day in weekdays %}
                                    <option>{{ day | date:"D, M j" }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="form-control"
                                    id={{ projectID | lookup:forloop.counter0 }} name={{ projectName | lookup:forloop.counter0 }}>
                                {% for project in projects %}
                                    <option>{{ project.project_id }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input class="form-control" id={{ timeID | lookup:forloop.counter0 }} type="text"
                                   name={{ timeName | lookup:forloop.counter0 }}
                                           value="0"/>
                        </td>
                        <td>
                            <input class="form-control" id="typeBox" type="text" name="typeBox"
                                   value="FA" disabled/>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="context-menu">
                <ul class="dropdown-menu" role="menu">
                    <li><a tabindex="0">复制(Ctrl+C)</a></li>
                    <li><a tabindex="1">粘贴(Ctrl+V)</a></li>
                    <li><a tabindex="2">删除(Ctrl+D)</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="3">添加新行(Ctrl+N)</a></li>
                </ul>
            </div>
            <div class="form-group">
                <div class="col-md-offset-0 col-md-1">
                    <input type="submit" value="保存" class="btn btn-default"/>
                </div>
            </div>
            <div id="targettest">
                Validate form here
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'app/scripts/jquery.mask.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/bootstrap-contextmenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/fb.js' %}"></script>
{% endblock %}